<div class="container">
    <h1><%= [(t "index_of"), Provider.model_name.human(:count=>2)].join(" ") %></h1>
  <br/>

    <table id="providers" class="display" data-language='<%= datatable_language %>'>
      <thead>
        <tr>
          <th><%= Provider.human_attribute_name(:name)%></th>
          <th><%= Provider.human_attribute_name(:address)%></th>
          <th><%= Provider.human_attribute_name(:phone)%></th>
          <th><%= Provider.human_attribute_name(:rut)%></th>
          <!-- ver-->
          <th></th>
          <!-- editar-->
          <% if can? :update, @provider %>
              <th></th>
          <% end %>
          <!-- Eliminar-->
          <% if can? :destroy, @provider %>
              <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @providers.each do |provider| %>
          <tr>
            <td><%= provider.name.titleize %></td>
            <td><%= provider.address %></td>
            <td><%= provider.phone %></td>
            <td><%= provider.rut %></td>
            <td><%= link_to 'Mostrar', provider %></td>
            <% if can? :update, @provider %>
                <td><%= link_to 'Editar', edit_provider_path(provider) %></td>
            <% end %>
            <% if can? :destroy, @provider %>
                <td><%= link_to 'Eliminar', provider, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
            <% end %>
                </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <% if can? :create, @provider %>
      <%= button_to [ (t "create_new"),Provider.model_name.human].join(" "), new_provider_path , class: "btn", :method => :get   %>
    <% end %>
</div>
