<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listado de Bodegas</h1>

  <table id="bodegas">
    <thead>
    <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Description</th>
            <!-- ver-->
      <th></th>
      <!-- editar-->
      <% if can? :update, @bodega %>
          <th></th>
      <% end %>
      <!-- Eliminar-->
      <% if can? :destroy,  @bodega  %>
          <th></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @bodegas.each do |bodega| %>
    <tr>
                <td><%= bodega.name %></td>
                <td><%= bodega.location %></td>
                <td><%= bodega.description %></td>
      
      <td style="text-align: center">
        <%= button_to 'Mostrar', bodega, class: "btn btn-default", :method => :get %>
      </td>
      <% if can? :update, @bodega %>
        <td style="text-align: center">
          <%= button_to 'Editar', edit_bodega_path(bodega), class: "btn btn-default", :method => :get %>
        </td>
      <% end %>
      <!-- Eliminar-->
      <% if can? :destroy,  @bodega  %>
        <td style="text-align: center">
          <%= button_to 'Eliminar', bodega, class: "btn btn-default", method: :delete, data: { confirm: '¿Estas seguro que desea eliminar esta bodega?' } %>
        </td>
      <% end %>

    </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <% if can? :create, @bodega %>
      <%= button_to 'Crear nueva  Bodega', new_bodega_path , class: "btn", :method => :get   %>
  <% end %>
</div>