<p id="notice"><%= notice %></p>

<h1>Listing Bodegas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ubicacion</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bodegas.each do |bodega| %>
      <tr>
        <td><%= bodega.name %></td>
        <td><%= bodega.ubicacion %></td>
        <td><%= bodega.descripcion %></td>
        <td><%= link_to 'Show', bodega %></td>
        <td><%= link_to 'Edit', edit_bodega_path(bodega) %></td>
        <td><%= link_to 'Destroy', bodega, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bodega', new_bodega_path %>
