<div class="container">
    <p id="notice"><%= notice %></p>

            <p>
      <strong>Name:</strong>
      <%= @bodega.name %>
    </p>

            <p>
      <strong>Location:</strong>
      <%= @bodega.location %>
    </p>

            <p>
      <strong>Description:</strong>
      <%= @bodega.description %>
    </p>

      <br/>
  <div style="float:left;">
    <%= button_to 'Editar', edit_bodega_path(@bodega), class: "btn", :method => :get   %>
  </div>
  <div style="float: left;margin-left: 2%;">
    <%= button_to 'Regresar', bodegas_path, class: "btn", :method => :get  %>
  </div>
</div>