<%= simple_form_for(@purchase_order) do |f| %>
  <%= f.error_notification %>

    <div class="row">
      <%= f.association :provider, label: "Proveedor:", readonly: true, :input_html => { :data => { :existing_items =>@purchase_order.article_number }}%>
    </div>
    <%= f.fields_for :item_purchase_orders do |it| %>
        <%= render 'item_purchase_order_fields_edit', f: it %>
    <% end %>


    <%=  link_to_add_fields "Agregar Item", f, :item_purchase_orders, FALSE, "add_purchase_item" %>

    <div class="row">
      <div class="col-md-3 pull-right">
        <%= f.input :TotalAmount, as: :string, label: "Total", readonly: true, :wrapper_html =>{ :style => "text-align: center; display: none", :id => "order_total_wrap"}%>
      </div>
    </div>
    <br>
    <br>

  <div class="form-actions row">
    <div class="col-md-3 pull-right">
      <%= f.button :submit, "Editar Orden de Compra", :data => { :confirm => '¿Seguro que desea editar esta orden de Compra?'}, :style => "display: none", :id => "submit_order",
                   :title => "Editar Orden de Compra" %>
    </div>
  </div>
<% end %>
