

<div class="form-inputs row">
  <div class="col-md-3  ">
    <%= f.association :provider_article, label: "Articulo", readonly: true, :input_html => { :id => "article_select"}%>
  </div>
  <div class="col-md-2">
    <%= f.input :amount, label: "Cantidad", :input_html => {:min => "0", :style => "text-align: center"} %>
  </div>
  <div class="col-md-2">
    <%= f.input :container_price, as: :string, label: "Precio Cont.", readonly: true, :input_html => { :style => "text-align: center"}%>
  </div>
  <div class="col-md-2">
    <%= f.input :units_per_container, label: "Unidades/Contenedor", readonly: true,:input_html => { :style => "text-align: center"} %>
  </div>
  <div class="col-md-2">
    <%= f.input :total_price,  as: :string, label: "Precio Total", readonly: true, :input_html => { :style => "text-align: center"} %>
  </div>
  <div class="col-md-1">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :current_version_id %>
    <%= f.hidden_field :_destroy %>
    <%= link_to '#', class: "btn btn-default remove_fields", :style => "margin-top: 20px; margin-left: 0px" do %>
        <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  </div>
</div>
