<div class="container">

  <h1>Listado de Ordenes de Compra</h1>

  <table id="purchase_orders" class="display">
    <thead>
    <tr>
                <th>Usuario</th>
                <th>Proveedor</th>
                <th>Fecha de Creacion</th>
                <th>Fecha de Envio</th>
                <th>Estado</th>
                <th>Monto Total</th>
            <!-- ver-->
      <th></th>
      <!-- editar-->
      <% if can? :update, @purchase_order %>
          <th></th>
      <% end %>
      <!-- Eliminar-->
      <% if can? :destroy,  @purchase_order  %>
          <th></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @purchase_orders.each do |purchase_order| %>
    <tr>
                <td><%= purchase_order.user.email %></td>
                <td><%= purchase_order.provider.name %></td>
                <td  style="text-align: center"><%= purchase_order.created_at.strftime("%d/%m/%Y") %></td>
                <td  style="text-align: center"><%= purchase_order.SubmitDate ? purchase_order.SubmitDate.strftime("%d/%m/%Y") : (button_to 'Enviar', sending_purchase_order_path(purchase_order), :data => { :confirm => '¿Seguro que desea enviar esta orden de compra? Despues no podra modificar esta orden'}, class: "btn btn-default", :method => :post)   %></td>
                <td><%= purchase_order.Status %></td>
                <td style="text-align: right"><%= number_to_currency(purchase_order.TotalAmount, precision: 0) %></td>

      <td style="text-align: center">
        <%= button_to 'Mostrar', purchase_order, class: "btn btn-default", :method => :get %>
      </td>
      <% if can? :update, @purchase_order and @editable%>
        <td style="text-align: center">
          <%= button_to 'Editar', edit_purchase_order_path(purchase_order), class: "btn btn-default", :method => :get %>
        </td>
      <% else %>
          <td></td>
      <% end %>
      <!-- Eliminar-->
      <% if (can? :destroy,  @purchase_order) and @editable%>
        <td style="text-align: center">
          <%= button_to 'Eliminar', purchase_order, class: "btn btn-default", method: :delete, data: { confirm: '¿Esta seguro que desea eliminar esta orden de compra?' } %>
        </td>
      <% else %>
        <td></td>
      <% end %>

    </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <% if can? :create, @purchase_order %>
      <%= button_to 'Crear nueva Orden de Compra', new_purchase_order_path , class: "btn", :method => :get   %>
  <% end %>
</div>