<div class="container">

  <h1>Listado de Ordenes de Compra</h1>

  <table id="purchase_orders" class="display">
    <thead>
    <tr>
                <th>Usuario</th>
                <th>Proveedor</th>
                <th>Fecha de Creacion</th>
                <th>Fecha de Envio</th>
                <th>Monto Total</th>
            <!-- ver-->
      <th></th>
      <!-- editar-->
      <% if can? :update, @purchase_order %>
          <th></th>
      <% end %>
      <!-- Eliminar-->
      <% if can? :destroy,  @purchase_order  %>
          <th></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @purchase_orders.each do |purchase_order| %>
    <tr>
                <td><%= purchase_order.user.email %></td>
                <td><%= purchase_order.provider.name %></td>
                <td><%= purchase_order.created_at %></td>
                <td><%= purchase_order.SubmitDate %></td>
                <td><%= purchase_order.TotalAmount %></td>
      
      <td style="text-align: center">
        <%= button_to 'Mostrar', purchase_order, class: "btn btn-default", :method => :get %>
      </td>
      <% if can? :update, @purchase_order %>
        <td style="text-align: center">
          <%= button_to 'Editar', edit_purchase_order_path(purchase_order), class: "btn btn-default", :method => :get %>
        </td>
      <% end %>
      <!-- Eliminar-->
      <% if can? :destroy,  @purchase_order  %>
        <td style="text-align: center">
          <%= button_to 'Eliminar', purchase_order, class: "btn btn-default", method: :delete, data: { confirm: '¿Esta seguro que desea eliminar esta orden de compra?' } %>
        </td>
      <% end %>

    </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <% if can? :create, @purchase_order %>
      <%= button_to 'Crear nueva Orden de Compra', new_purchase_order_path , class: "btn", :method => :get   %>
  <% end %>
</div>