<div class="container">

  <h1><%=[(t "index_of"), PurchaseOrder.model_name.human(count: 2)].join(" ") %></h1>

  <table id="purchase_orders" class="display" data-language='<%= datatable_language %>'>
    <thead>
    <tr>
                <th><%= PurchaseOrder.human_attribute_name(:user_id) %></th>
                <th><%= PurchaseOrder.human_attribute_name(:provider_id) %></th>
                <th><%= PurchaseOrder.human_attribute_name(:created_at) %></th>
                <th><%= PurchaseOrder.human_attribute_name(:send_date) %></th>
                <th><%= PurchaseOrder.human_attribute_name(:status) %></th>
                <th><%= PurchaseOrder.human_attribute_name(:total_amount) %></th>
            <!-- ver-->
      <th></th>
      <!-- editar-->
      <% if can? :update, @purchase_order %>
          <th></th>
      <% end %>
      <!-- Eliminar-->
      <% if can? :destroy,  @purchase_order  %>
          <th></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @purchase_orders.each do |purchase_order| %>
    <tr>
                <td><%= purchase_order.user.email %></td>
                <td><%= purchase_order.provider.name %></td>
                <td  style="text-align: center"><%= purchase_order.created_at.strftime("%d/%m/%Y") %></td>
                <td  style="text-align: center"><%= purchase_order.submit_date ? purchase_order.submit_date.strftime("%d/%m/%Y") : (button_to t("send"), sending_purchase_order_path(purchase_order), :data => { :confirm => '¿Seguro que desea enviar esta orden de compra? Despues no podra modificar esta orden'}, class: "btn btn-default", :method => :post)   %></td>
                <td><%= purchase_order.status_human %></td>
                <td style="text-align: right"><%= number_to_currency(purchase_order.total_amount, precision: 0) %></td>

      <td style="text-align: center">
        <%= button_to t("show"), purchase_order, class: "btn btn-default", :method => :get %>
      </td>
      <% if (can? :update, @purchase_order) and purchase_order.editable %>
        <td style="text-align: center">
          <%= button_to t("edit"), edit_purchase_order_path(purchase_order), class: "btn btn-default", :method => :get %>
        </td>
      <% else %>
          <td></td>
      <% end %>
      <!-- Eliminar-->
      <% if (can? :destroy,  @purchase_order) and purchase_order.editable %>
        <td style="text-align: center">
          <%= button_to t("delete"), purchase_order, class: "btn btn-default", method: :delete, :title => [[(t "confirmation_dialog_title.delete"), (t "this_female"), PurchaseOrder.model_name.human].join(" "),"?"].join, :data => { confirm: (t "purchase_orders.delete_message"), commit: (t "confirm"), cancel: (t "cancel") }%>
        </td>
      <% else %>
        <td></td>
      <% end %>

    </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <% if can? :create, @purchase_order %>
      <%= button_to 'Crear nueva Orden de Compra', new_purchase_order_path , class: "btn", :method => :get   %>
  <% end %>
</div>