<div class="container">
    <p>
      <strong>Usuario Creador:</strong>
      <%= @purchase_order.user.email %>
    </p>

    <p>
      <strong>Proveedor:</strong>
      <%= @purchase_order.provider.name %>
    </p>

    <p>
      <strong>Fecha de Envio:</strong>
      <% if @purchase_order.SubmitDate == nil %>
        <%= "No enviada" %>
      <% else %>
          <%= @purchase_order.SubmitDate %>
      <% end %>
    </p>

    <p>
      <strong>Costo Total:</strong>
      <%= "$" + @purchase_order.TotalAmount.to_s %>
    </p>

    <br/>

  <h3>Articulos en la Orden de Compra</h3>

  <table id="purchase_orders" class="display">
    <thead>
    <tr>
      <th>Articulo</th>
      <th>Cantidad</th>
      <th>Precio por Contenedor</th>
      <th>Precio por Unidad</th>
      <th>Unidades por Contenedor</th>
      <th>Total</th>
    </tr>
    </thead>

    <tbody>
    <% @purchase_order.item_purchase_orders.each do |item| %>
        <tr>
          <td><%= item.provider_article.to_label %></td>
          <td><%= item.amount %></td>
          <td><%= "$" +item.container_price.to_s  %></td>
          <td><%= "$" +item.unit_price.to_s  %></td>
          <td><%= item.units_per_container %></td>
          <td><%= "$" +item.total_price.to_s  %></td>


        </tr>
    <% end %>
    </tbody>
  </table>


  <div style="float:left;">
    <%= button_to 'Mostrar en PDF', purchase_order_path(@purchase_order, format: "pdf"), class: "btn", :method => :get   %>
  </div>
  <div style="float:left;margin-left: 2%;">
    <%= button_to 'Editar', edit_purchase_order_path(@purchase_order), class: "btn", :method => :get   %>
  </div>
    <div style="float: left;margin-left: 2%;">
        <%= button_to 'Regresar', purchase_orders_path, class: "btn", :method => :get  %>
    </div>
</div>