<div class="container">
    <p>
      <strong>Usuario Creador:</strong>
      <%= @purchase_order.user.email %>
    </p>

    <p>
      <strong>Proveedor:</strong>
      <%= @purchase_order.provider.name %>
    </p>

    <p>
      <strong>Fecha de Envio:</strong>
      <% if @purchase_order.SubmitDate == nil %>
        <%= "No enviada" %>
      <% else %>
          <%= @purchase_order.SubmitDate.strftime("%d/%m/%Y") %>
      <% end %>
    </p>

    <p>
        <strong>Estado:</strong>
        <%= @purchase_order.Status %>
    </p>

    <p>
      <strong>Costo Total:</strong>
      <%= number_to_currency(@purchase_order.TotalAmount, :precision => 0)%>
    </p>

    <br/>

  <h3>Articulos en la Orden de Compra</h3>

  <table id="purchase_orders" class="display">
    <thead>
    <tr>
      <th>Articulo</th>
      <th>Cantidad</th>
      <th>Precio por Contenedor</th>
      <th>Precio por Unidad</th>
      <th>Unidades por Contenedor</th>
      <th>Total</th>
    </tr>
    </thead>

    <tbody>
    <% @purchase_order.item_purchase_orders.each do |item| %>
        <tr>
          <td><%= item.provider_article.to_label %></td>
          <td><%= item.amount %></td>
          <td style="text-align: center"><%= "$" +item.container_price.to_s  %></td>
          <td style="text-align: right"><%= number_to_currency(item.unit_price, :precision => 0)%></td>
          <td style="text-align: center"><%= item.units_per_container %></td>
          <td style="text-align: right"><%= number_to_currency(item.total_price, :precision => 0)%></td>


        </tr>
    <% end %>
    </tbody>
  </table>


  <div style="float:left;">
    <%= button_to 'Mostrar en PDF', purchase_order_path(@purchase_order, format: "pdf"), class: "btn", :method => :get   %>
  </div>
  <% if can? :update, @purchase_order and @editable %>
      <div style="float:left;margin-left: 2%;">
        <%= button_to 'Editar', edit_purchase_order_path(@purchase_order), class: "btn", :method => :get   %>
      </div>
  <% end %>
  <% if (can? :destroy,  @purchase_order) and @editable%>
      <div style="float:left;margin-left: 2%;">
        <%= button_to 'Eliminar', @purchase_order, class: "btn", method: :delete, data: { confirm: '¿Esta seguro que desea eliminar esta orden de compra?' } %>
      </div>
  <% end %>
    <div style="float: left;margin-left: 2%;">
        <%= button_to 'Regresar', purchase_orders_path, class: "btn", :method => :get  %>
    </div>
</div>