<!DOCTYPE html>
<html>
<head>
  <title>Warehouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


          <%= nav_bar fixed: :top, brand: "Warehouse 1.0", responsive: true, fluid: true do %>
            <%= menu_group do %>
                <%= menu_item (t "header.home"), root_path %>
                <%= menu_divider %>
                <% if user_signed_in? %>

    <!--DropDown para Usuario Interno-->
                    <% if current_user.has_role? :internal %>
                        <%= menu_item (t "header.supply_use"), root_path %>
                        <%= menu_item (t "header.generate_shippment"), root_path %>
                        <%= drop_down (t "header.ideal_stocks") do %>
                            <%= menu_item (t "header.set_ideal_stock_ware"), root_path %>
                            <%= menu_item (t "header.set_ideal_stock_branch"), root_path %>
                        <% end %>
                        <%= drop_down t ("header.ideal_stocks") do %>
                            <%= menu_item (t "header.generate_ware_purchase_order"), root_path %>
                            <%= menu_item (t "header.generate_provider_purchase_order"), root_path %>
                        <% end %>
                        <%= drop_down (t "header.invoice")  do %>

                            <%= menu_item (t "header.add_invoice"), root_path %>
                            <%= menu_item (t "header.pay_invoice"), root_path %>
                        <% end %>
                    <% end %>


    <!--DropDown para Administrados-->
                    <% if current_user.has_role? :admin %>
                        <%= drop_down (t "header.administrator") do %>
                            <%= menu_item (t "header.create_user"), new_user_registration_path %>
                            <%= menu_item (t "header.create_ware"), new_bodega_path %>
                            <%= menu_item (t "header.create_article"), new_articulo_path %>
                        <% end %>
                    <% end %>
                    <%= drop_down (t "header.indices") do %>
                        <%= menu_item (t "header.ware"), bodegas_path %>
                        <%= menu_item (t "header.articles"), articulos_path %>
                        <%= menu_item (t "header.providers"), providers_path %>
                        <%= menu_item (t "header.article_provider"), provider_articles_path %>
                        <%= menu_item (t "header.purchase_orders"), purchase_orders_path %>
                    <% end %>
                <% end %>
            <% end %>



    <!--Log In en la barra superior -->
            <%= menu_group pull: :right do %>
                <% if user_signed_in? %>
                    <%= menu_item ("Loggeado como "+ current_user.email), edit_user_registration_path %>
                    <%= menu_item "Log Out", destroy_user_session_path, method: :delete  %>
                <% else %>
                      <%= form_for(:user, :url => session_path(:user), :html => { :class => "navbar-form" } ) do |f| %>
                          <%= f.text_field :email %>
                          <%= f.password_field :password %>
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me, "¿Recordarme?" %>
                          <%= f.submit 'Iniciar Sesion' %>
                          <%= link_to "¿Olvido su contraseña?", new_password_path(:user) %>
                      <% end %>

                <% end %>
            <% end %>
        <% end %>

        <%= render_flash %>


<%= yield %>

</body>
</html>
